body {background-color:#FFF5EE; font-family: "georgia", serif}
table {margin:auto}
th {color:black}
td {background-color:#FFF5EE;color:black;padding:30px}
img {vertical-align:middle}
a:link {color:black}
p {margin-top:25px;margin-left:200px;margin-right:200px}
